<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79605491693-7s7mkmouhro9in5p2v9e0649kvjk1j35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79605491693-7s7mkmouhro9in5p2v9e0649kvjk1j35</string>
	<key>API_KEY</key>
	<string>AIzaSyCg-G3wnpGu2o_wdKBV77CUN5spm2qOPfo</string>
	<key>GCM_SENDER_ID</key>
	<string>79605491693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-6cd30</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-6cd30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:79605491693:ios:c3c86e8be2498ac83ee9e4</string>
</dict>
</plist>
